doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  
  style
    include players.css 
  title ICC Test Player Rankings
  
main.main-section
  h1#main-heading Welcome to ICC Test Player Rankings Page
  h3#sub-heading To Check Players List
  button#btn-players.btn-styles Click Here
script 
  include index.js
