doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.3/css/all.css' integrity='sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk' crossorigin='anonymous')
  style 
    include players.css 
  title Player Details
main.main-section
  h1#player-heading Player Details
  #player-card
    .image
      img#p-image(src='' alt='')
    .details
      .p-details
        h2
          | Name   : 
          span#p-name
        h3
          | Team   : 
          span#p-team
        h4
          | Role   : 
          span#p-role
        h4
          | DoB    : 
          span#p-dob
        h4
          | Rating : 
          span#p-rating
  #btn-wrapper
    button#btn-back.btn-styles
      i.fas.fa-long-arrow-alt-left
      |  BACK
    button#btn-next.btn-styles
      | NEXT 
      i.fas.fa-long-arrow-alt-right
  #link-wrapper
    a.btn-styles(href='http://localhost:3000/') Go To Home Page
script 
  include players.js